#include<Header.h>

MYICON ICON DM.ico

// *******************Part One**********************

// Land 
MYGRASS BITMAP 01_Land/Grass.bmp

//Sky
MYSKY BITMAP 01_Sky/Star.bmp

//Tree
MYTREE BITMAP 01_Tree/Bark_3.bmp


MYTREE_LEAF BITMAP 01_Tree/Leaf.bmp


// *******************Part Two**********************
//House

MYSNOW BITMAP 02_House/snow.bmp

MYWOOD BITMAP 02_House/wooden_wall.bmp

MYBOARDER BITMAP 02_House/Boarder.bmp

MYDOOR BITMAP 02_House/Door_01.bmp

MYSTEEL BITMAP 02_House/Steel_01.bmp

MYGLASS BITMAP 02_House/Glass_01.bmp

MYBLACKGLASS BITMAP 02_House/Black_Window.bmp

MYTREEGLASS BITMAP 02_House/Glass_02.bmp

//Bushes
GREEN_LIGHT BITMAP 02_Bushes/green_1.bmp

GREEN_DIM BITMAP 02_Bushes/green_2.bmp

GREEN_DARK BITMAP 02_Bushes/green_3.bmp


//Tree
TREE_TRUNK BITMAP 02_House_Tree/bark_3.bmp

TREE_GREEN_LIGHT BITMAP 02_Bushes/green_1.bmp

TREE_GREEN_DIM BITMAP 02_Bushes/green_2.bmp

TREE_GREEN_DARK BITMAP 02_Bushes/green_3.bmp

// *******************Part Three**********************

//Girl
MYCLOTHS BITMAP 03_Girl/Red_2.bmp

MYFOOTS BITMAP 03_Girl/foot_1.bmp

MYSHOOSE BITMAP 03_Girl/Shoose.bmp

MYFACE BITMAP 03_Girl/Girl_face.bmp

MYNOSE BITMAP 03_Girl/Nose_0.bmp

// *******************Part Four**********************

//Santa
MYSANTA BITMAP 04_Santa/Santa_02.bmp

MYSANTAFOOT BITMAP 04_Santa/Santa_Foot_Wear.bmp

MYSANTAFACE BITMAP 04_Santa/Santa_face.bmp

// *******************Part Five **********************

//Bird
MYBIRD BITMAP 05_Bird/Bird_01.bmp

MYBILL BITMAP 05_Bird/Bill.bmp

MYNEST BITMAP 05_Bird/Nest.bmp

//Gift
MYGIFT BITMAP 06_Gift/santa_Gift_2.bmp


//Sound Tracks
MYNIGHT WAVE Nightsound_1.wav

MYSANTA_TRACK WAVE Santa_Entry_Track.wav

//MYDROP WAVE Falling_Down.wav